In [18]:
import pandas as pd
import os
os.chdir('/Users/dapoadegbile/estimating-impact-of-opioids-2020-team2')
os.getcwd()

'/Users/dapoadegbile/estimating-impact-of-opioids-2020-team2'

In [19]:
import warnings
warnings.filterwarnings("ignore")
NMData =  pd.read_csv("./20_intermediate_files/NM_shipment_and_pop.csv", index_col = 0 )
AZData =  pd.read_csv("./20_intermediate_files/AZ_shipment_and_pop.csv", index_col = 0 )
PAData =  pd.read_csv("./20_intermediate_files/PA_shipment_and_pop.csv", index_col = 0 )

In [20]:
NMData.head()

   Year BUYER_STATE    County  MORPHINE_EQUIV_IN_MG Population
0  2014          NM   DE BACA               4540.50      1,861
1  2014          NM   DE BACA               2270.25      1,861
2  2014          NM   DE BACA               3027.00      1,861
3  2012          NM  VALENCIA               1513.50     76,789
4  2014          NM  VALENCIA               3027.00     75,892

In [21]:
comparisonStates = pd.concat([NMData, AZData, PAData], ignore_index = True)

In [22]:
comparisonStates.shape

(17270587, 5)

In [23]:
comparisonStates.sample(10)

          Year BUYER_STATE        County  MORPHINE_EQUIV_IN_MG Population
8027642   2011          PA        CARBON              2689.500     65,086
13582600  2008          PA    LACKAWANNA               336.150    214,044
10689866  2008          PA     ALLEGHENY               302.700  1,221,071
4260425   2011          AZ      MARICOPA               605.400  3,874,996
3825699   2014          AZ      MARICOPA              3361.875  4,093,648
17034889  2008          PA     ALLEGHENY             24205.500  1,221,071
7034465   2010          PA    CLEARFIELD              1362.150     81,545
12551777  2011          PA     ALLEGHENY               605.400  1,228,297
14704132  2012          PA  PHILADELPHIA             10758.000  1,551,824
5835083   2007          AZ         PINAL             24205.500    306,174

In [27]:
# comparisonStates[comparisonStates['Population'].isnull()]

Empty DataFrame
Columns: [Year, BUYER_STATE, County, MORPHINE_EQUIV_IN_MG, Population]
Index: []

In [28]:
comparisonStates['Population'] = comparisonStates['Population'].apply(lambda x: x.replace(',', ''))

In [19]:
# comparisonStates['Population'] = comparisonStates['Population'].str.strip(",")

In [29]:
comparisonStates['Population'] =  comparisonStates['Population'].astype(int)

In [30]:
# comparisonStates['Population'].head(10)

0      1861
1      1861
2      1861
3     76789
4     75892
5     75892
6     75892
7     17995
8    213126
9    213126
Name: Population, dtype: int64

In [34]:
comparisonStates = comparisonStates.groupby(["Year"]).sum()

      MORPHINE_EQUIV_IN_MG     Population
Year
2006          5.960705e+09  1571923255193
2007          6.896136e+09  1764793931736
2008          7.744266e+09  1931049629860
2009          8.684839e+09  2036291024441
2010          9.519364e+09  2116840033886
2011          1.049407e+10  2287045926697
2012          1.086222e+10  2411903621579
2013          1.024006e+10  2557472251660
2014          1.028864e+10  2402509323159

In [35]:
comparisonStates['Avg_Morph_MG_PerCap'] = comparisonStates['MORPHINE_EQUIV_IN_MG'] / comparisonStates['Population']

In [37]:
comparisonStates.head(10)

      MORPHINE_EQUIV_IN_MG     Population  Avg_Morph_MG_PerCap
Year
2006          5.960705e+09  1571923255193             0.003792
2007          6.896136e+09  1764793931736             0.003908
2008          7.744266e+09  1931049629860             0.004010
2009          8.684839e+09  2036291024441             0.004265
2010          9.519364e+09  2116840033886             0.004497
2011          1.049407e+10  2287045926697             0.004588
2012          1.086222e+10  2411903621579             0.004504
2013          1.024006e+10  2557472251660             0.004004
2014          1.028864e+10  2402509323159             0.004282

In [38]:
comparisonStates.to_csv(r"/Users/dapoadegbile/estimating-impact-of-opioids-2020-team2/20_intermediate_files/ComparisonStatesMorphPerCap.csv")